In [ ]:
"""Use decision trees to prepare a model on fraud data 
treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

Data Description :

Undergrad : person is under graduated or not 
Marital.Status : marital status of a person
Taxable.Income : Taxable income is the amount of how much tax an individual owes to the government 
Work Experience : Work experience of an individual person
Urban : Whether that person belongs to urban area or not """

In [1]:
import pandas as pd 
df  = pd.read_csv("D:/EXCELR/Assignments/Fraud_check.csv")
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [2]:

#Label_Encoding
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df["Undergrad"] = LE.fit_transform(df["Undergrad"])
df["Marital.Status"] = LE.fit_transform(df["Marital.Status"])
df["Urban"] = LE.fit_transform(df["Urban"])
df

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,68833,50047,10,1
1,1,0,33700,134075,18,1
2,0,1,36925,160205,30,1
3,1,2,50190,193264,15,1
4,0,1,81002,27533,28,0
...,...,...,...,...,...,...
595,1,0,76340,39492,7,1
596,1,0,69967,55369,2,1
597,0,0,47334,154058,0,1
598,1,1,98592,180083,17,0
599,0,0,96519,158137,16,0

In [3]:
# Define the target variable
df['Taxable.Income'] = df['Taxable.Income'].apply(lambda x: 'Good' if x > 30000 else 'Risky')
Y = df['Taxable.Income']
X = df.iloc[:,[0,1,3,4,5]]

In [4]:
# step5: Data partition
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.3, random_state = 67)

In [5]:

from sklearn.tree import DecisionTreeClassifier
dtcls = DecisionTreeClassifier(criterion = "entropy")
dtcls.fit(X_train,Y_train)
Y_Pred_train = dtcls.predict(X_train)
Y_Pred_test = dtcls.predict(X_test)

In [6]:
from sklearn.metrics import confusion_matrix, accuracy_score
ac_train = accuracy_score(Y_train,Y_Pred_train)
print("accuracy Score train = ", ac_train.round(3))
ac_test = accuracy_score(Y_test,Y_Pred_test)
print("accuracy Score test= ", ac_test.round(3))

accuracy Score train =  1.0
accuracy Score test=  0.628

In [7]:
from sklearn import tree
import graphviz
dot_data = tree.export_graphviz(dtcls, filled = True)
graph = graphviz.Source(dot_data)
graph

ModuleNotFoundError: No module named 'graphviz'